.outerwrapper {
  width: 512px; height: 512px;
  margin:20px 60px;
  border:1px solid blue;
}
.innerwrapper{ 
    width:100%; height:100%; 
    position:relative;}
.coveredimage{ 
    width:100%; height:100%; 
    position:absolute; top:0px; left:0px;
}
.canvas{ 
    width:100%; height:100%; 
    position:absolute; top:0px; left:0px;
    background-color: rgba(255,0,0,.1);
}

.message {  
  border: 1px;
  font-family: "Times New Roman", Times, serif;
  width: 512px;
}
